<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">15</font>
              </font>
            </h3>

            <p>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Novas ordens</font>
              </font>
            </p>
          </div>
          <div class="icon">
            <i class="fa fa-shopping-cart"></i>
          </div>
          <a href="#" class="small-box-footer">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                Mais informações </font>
            </font><i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">53 </font>
              </font><sup style="font-size: 20px">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">%</font>
                </font>
              </sup>
            </h3>

            <p>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Taxa de rejeição</font>
              </font>
            </p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                Mais informações </font>
            </font><i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">44</font>
              </font>
            </h3>

            <p>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Registros de usuários</font>
              </font>
            </p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                Mais informações </font>
            </font><i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">65</font>
              </font>
            </h3>

            <p>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">visitantes únicos</font>
              </font>
            </p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                Mais informações </font>
            </font><i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
    </div>

  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->