/resources
/composer.json
/favicon
/composer.json
/phpunit.xml
/vendor/odan  
/vendor/bin/docblock-checker
/.gitignore
/phpunit.result.cache
/vendor/hcodebr/php-classes/src/Mailer.php
/vendor/hcodebr/php-classes/src/DB/Sql.php
